@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



*{
    margin: 0;
    padding: 0;


}

.headre
{
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

/* .circle
{
    background: gray;
    border-radius: 100%;
    width: 40px;
    height: 40px;
} */

.input1::placeholder
{
    color: white;
}

.input1{
    width: 25vw;
    height: 5vh;
    border-radius: 5px;
    background: #1f1f1f;
    color: white;
    margin-left: 10px;
    padding-left: 10px;

    font-family: "Poppins", serif;
    font-size: 1rem;
    border: none;
}

input:focus {
    border: 1.5px solid white;
    border-color: white; /* Change to desired color */
    outline: none; /* Removes default blue outline */
  }

  .headre ul li
  {
    color: white;
    display: inline-block;
    font-family: "Poppins", serif;
    text-decoration: none;
    padding-left: 10px;
    /* margin-left: 20px; */

  }

  .headre ul
  {
    padding-left: 20px;
    font-weight: 600;
    font-size: small;
  }


  .conatiner
  {
    background: black;
    display: grid;
    width:100vw;
    height: 100vh;
    grid-template-rows: repeat(4,1fr);
    grid-template-columns: repeat(4,1fr);
    column-gap: 5px;
   

  }

  .item
  {
    color: white;
    /* border: 2px solid white; */
    padding: 10px;
    background: #202020;
    border-radius: 5px;
    

  }

  .box1
  {
    grid-row-start: 1;
    grid-row-end: 5;
    width: 25vw;
  }

  .box2
  {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 5;
  }

  /* .box3
  {
    grid-column-start: 2;
    grid-column-end: 4;
  } */

.nnh
{
    font-family: "Poppins", serif;
    padding-left:1vw ;
    /* padding-top: 2vh; */
    font-size: medium;
}

.e-9640-icon {
    fill: white; /* Change to any color you want */
    width:25px
  }
  
.nn{
    display: flex;
    padding-left: 10px;
}

.hh{
  background-color: #302e2e;
  padding-top: 10px;
  padding-left:10px;
  margin-top: 20px;
  padding-bottom: 10px;
  border-radius: 5px;
}
.hh h4{
  font-family: "Poppins", serif;

}
.hh p{

  font-family: "Poppins", serif;
  font-size: small;
}

.hh button
{
  background-color: white;
  color: black;
  font-family: "Poppins", serif;
  border: none;
  margin-top: 10px;
  margin-left:1px;
  width:120px;
  height: 30px;
  border-radius: 10px;
  text-transform: capitalize;
  font-weight: 600;
}

.list ul li{
  text-decoration: none;
  display: inline-block;
  font-family: "Poppins", serif;
  font-size: x-small;
  padding-left:15px ;
  line-height: 3;
}
.list{
  padding-top: 50px;
}

.tt
{
  font-family: "Poppins", serif;
  font-size: larger;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  padding-left: 1rem;
  padding-top: 0.7rem;

}

.songi
{
  width:150px;
  height: 150px;
  padding: 10px;
  border-radius: 2px;
}

.songsh
{
  font-family: "Poppins", serif;
  text-transform: capitalize;
  padding-left: 0.7rem;
}
.singers
{
  font-family: "Poppins", serif;
  font-size: small;
  padding-left: 0.7rem;
}

.card:hover
{
  margin-top: 30px;
  margin-left: 0.7rem;
  background-color: #302e2e;
  border-radius: 2px;
  padding-bottom: 40px;
  
}

.cardscontainer
{
  display: flex;
  
}